<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="{% static 'Images/logo-2.png' %}">
        </div>

        <div>
            <ul>
                <li><a class="{% if request.path == '/' %} active {% endif %}" href="/">Home</a></li>
                <li><a class="{% if request.path == '/Medication-Page/' %} active {% endif %}" href="/Medication-Page/">Medication</a></li>
                <li><a class="{% if request.path == '/Emergency-Contact/' %} active {% endif %}" href="/Emergency-Contact/">Emergency contact</a></li>
                <li><a class="{% if request.path == '/Caregiver-Page/' %} active {% endif %}" href="/Caregiver-Page/">Caregiver</a></li>
                <Button>Join Us</Button>
            </ul>
        </div>
    </nav>
</body>

</html>