{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    <div class="main-head">
        <div>
            <p>
                VitalEase healthcare solution is a startup solely dedicated
                to medical and healthcare industry. The company is
                chartered to administer individuals health with utmost
                dedication.
                <br>
                The mission is to provide quality medical and nursing care
                that meets global health and nursing care that meets
                global health standard at affordable cost.
            </p>
        </div>
        <div class="main-img">
            <img src="{% static 'Images\main.png' %}">
        </div>
    </div>
    <div class="main-content">
        <div class="quote">
            <p>The dignity of a physician requires that he should look healthy, and as plump as nature intended him to
                be; for the common crowd consider those who are not of this excellent bodily condition to be unable to
                take care of themselves.
            </p>
            <img src="{% static 'Images/test-2.jpg' %}" alt="">
            <br>
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="chat-bot">
            <div class="box">
                <h3>Personalized Chat System</h3>
                <h5>(Clear your medical related queries)</h5>
            </div>
            <div class="chat">
                <input type="text" name="query" id="query" placeholder="Type your query..." autocomplete="off">
                <button>Ask</button>
            </div>
        </div>
    </div>
</section>
{% endblock content %}